
	<div class="spacer"></div>

	<div class="rate">
		<a href="javascript://" title="Total Execution Rate per Second per Reporting Host" class="flatlink rate"><span class="smaller">Host: </span><span class="ratePerSecondPerHost"><%= addCommas(ratePerSecondPerHost) %></span>/s</a>
	</div>
	<div class="rate">	
		<a href="javascript://" title="Total Execution Rate per Second for Cluster" class="flatlink rate"><span class="smaller">Cluster: </span><span class="ratePerSecond"><%= addCommas(ratePerSecond) %></span>/s</a>
	</div>
	
	<div class="spacer"></div>
	
		<div class="tableRow">
			<div class="cell cell-left header">Active</div>
			<div class="cell cell-left data"><%= currentActiveCount%></div>
			
			<div class="cell cell-right header">Max Active</div>
			<div class="cell cell-right data"><%= addCommas(rollingMaxActiveThreads)%></div>
		</div>

		<div class="tableRow">
			<div class="cell cell-left header">Queued</div>
			<div class="cell cell-left data"><%= currentQueueSize %></div>
			<div class="cell cell-right header">Executions</div>
			<div class="cell cell-right data"><%= addCommas(rollingCountThreadsExecuted)%></div>
		</div>
		<div class="tableRow">
			<div class="cell cell-left header">Pool Size</div>
			<div class="cell cell-left data"><%= currentPoolSize %></div>
			<div class="cell cell-right header">Queue Size</div>
			<div class="cell cell-right data"><%= propertyValue_queueSizeRejectionThreshold %></div>
		</div>
	