*.class
dependency-reduced-pom.xml
config.properties
src/main/resources/app/assets

# IntelliJ stuff
.idea
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# front-end stuff
node_modules
src/main/resources/app/build
src/main/resources/app/js/.module-cache
